.banner {
    background-color: rgba(0, 0, 0, 0);
    padding: 100px 0px;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  .banner h1 {
    line-height: 0.2;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 9px;
    color: white;
    font-size: 50px;
    font-weight: 100;
  }
  .banner h2 {
    line-height: 4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: #ffc778;
    font-size: 20px;

    opacity: 1;
    margin-bottom: 0px;
  }
  .banner h3  {
    line-height: 4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: white;
    font-size: 18px;
}